.full-width {
  max-width: 1400px;
}

.topfooter {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.topfooter i {
  font-size: 100px;
}

.topfooter h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.topfooter p, .topfooter a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .topfooter .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.topfooter-links {
  list-style-type: none;
}
.topfooter-links li {
  margin-top: .5em;
}
