<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Staplr | {% block title %}{% endblock %} </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />
		<!-- For Foundation Icons, put this in your head -->
		<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
	</head>

	<body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">

<!-- Top Bar -->
<nav class="top-bar docs-bar hide-for-small" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Staplr</a></h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<!-- li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li -->
	</ul>

	<section class="top-bar-section">
	<!-- Right Nav Section -->
	<ul class="right">
		<li class="divider"></li>
		<!-- Menu -->
		<li class="has-dropdown">
			<a href="#">Menu</a>
			<ul class="dropdown">
			  <li><a href="#">Item #1</a></li>
			  <li class="active"><a href="#">Item #2</a></li>
			</ul>
		  </li>
		<li class="divider"></li>
		<!-- About -->
		<li><a href="about">About</a></li>
		<li class="divider"></li>
		<!-- Search -->
		<li class="has-form">
			<div class="row collapse">
				<div class="large-8 small-9 columns">
					<input type="text" placeholder="Search">
				</div>
				<div class="large-4 small-3 columns">
					<a href="#" class="alert button expand">Search</a>
				</div>
			</div>
		</li>
		<li class="divider"></li>
		<!-- Sign In -->
		<li class="has-form">
			<a href="signin" class="button">Sign In</a>
		</li>
	</ul>

	</section>
</nav>

      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->

{% block body %}{% endblock %} 

<!-- Footer -->
	<div class="row full-width footer footer-blue">
		<div class="small-12 medium-3 large-4 columns">
			<i class="fi-laptop"></i>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
		</div>
		<div class="small-12 medium-3 large-4 columns">
			<i class="fi-html5"></i>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
		</div>
		<div class="small-6 medium-3 large-2 columns">
			<h4>Work With Me</h4>
			<ul class="footer-links">
			<li><a href="#">What I Do</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">FAQ's</a></li>
			<ul>
		</div>
		<div class="small-6 medium-3 large-2 columns">
			<h4>Follow Me</h4>
			<ul class="footer-links">
			<li><a href="#">GitHub</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Dribbble</a></li>
			<ul>
		</div>
	</div>
	<div class="row full-width footer footer-dark">
		<ul class="inline-list">
			<li><a href="http://www.zurb.com" class="zurb-logo regular"></a></li>
			<li><a href="http://zurb.com/about">About</a></li>
			<li><a href="http://zurb.com/blog">Blog</a></li>
			<li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
			<li><a href="http://zurb.com/contact">Contact</a></li>
			<li><a href="http://zurb.com/sitemap">Sitemap</a></li>
		</ul>
		<p class="copyright">© 1998–2015 ZURB, Inc. All rights reserved.</p>
	</div>

    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
