
<!DOCTYPE html>
<html lang="en" ng-app="library" ng-controller="PageHeadController">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<base href="/">
<meta name="fragment" content="!">
<meta name="description" content={{metaTag.content().description}} />
<meta name="keywords" content={{metaTag.content().keywords}} />
<link rel="icon" href="http://s1.library.zurb.com/{{metaTag.content().favicon}}" type="image/x-icon"/>
<title ng-bind="pageTitle.title()">ZURB U | Library</title>
<link href="http://s1.library.zurb.com/assets/application-829e0f1eefeaba7ea1ada47ca4d000ea.css" media="screen" rel="stylesheet"/>
<script src="http://s1.library.zurb.com/assets/application-6f4d779f27dfd5a81a6d839aa0b22aaf.js"></script>
<meta content="authenticity_token" name="csrf-param"/>
<meta content="+WJh0wfRM5cIxtnkzwGorA3skUU/QkYSiU0PD1pGQp8=" name="csrf-token"/>
<script>
        $(document).ready(function(){
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          
          ga('create', 'UA-2195009-2', 'auto');
          ga('create', 'UA-2195009-58', 'auto', {'name': 'library'});
          ga('create', 'UA-2195009-33', 'auto', {'name': 'university'});
          ga('send', 'pageview');
          ga('library.send', 'pageview')
          ga('university.send', 'pageview')
          // ga('create', 'UA-2195009-45', 'auto', {'name': 'friday15'});
          // ga('create', 'UA-2195009-31', 'auto', {'name': 'word'});
          // ga('create', 'UA-2195009-38', 'auto', {'name': 'patternTap'});
          // ga('create', 'UA-2195009-52', 'auto', {'name': 'buildingBlocks'});
          // ga('create', 'UA-2195009-41', 'auto', {'name': 'responsive'});
          // ga('create', 'UA-2195009-44', 'auto', {'name': 'quips'});
          //ga('send', 'pageview');  <-- run this on ui-router stateChangeSuccess
        });
      </script>
</head>
<body>
<div zf-offcanvas position="left" id="off-canvas" class="dark">
<a zf-close class="close-button">&times;</a>
<ul>
<li class="title">Library</li>
<li class="patterntap"><a href="http://patterntap.com/" target="_self">Pattern Tap</a></li>
<li class="buildingblocks" ui-sref-active="current"><a ui-sref="building-blocks" ui-sref-opts="{ reload: true }">Building Blocks</a></li>
<li class="responsive"><a href="http://zurb.com/responsive" target="_self">Responsive</a></li>
<li class="triggers"><a href="http://zurb.com/triggers" target="_self">Triggers</a></li>
<li class="quips"><a href="http://zurb.com/quips" target="_self">Quips</a></li>
<li class="word"><a href="http://zurb.com/word" target="_self">Word</a></li>
<li class="friday15" ui-sref-active="current"><a ui-sref="friday15" ui-sref-opts="{ reload: true }">Friday 15</a></li>
 
</ul>
<div id="mobile-hr"></div>
<ul>
<li class="title">University</li>
<li><a href="http://zurb.com/university/" target="_self">Home</a></li>
<li><a href="http://zurb.com/university/training" target="_self">Training</a></li>
<li><a href="http://zurb.com/university/lessons" target="_self">Lessons</a></li>
<li><a href="http://zurb.com/library" target="_self">Library</a></li>
<li><a href="http://zurb.com/tavern" target="_self">Tavern</a></li>
</ul>
<div id="mobile-hr"></div>
<ul>
<li class="title">More ZURB Goodness</li>
<li><a href="http://patterntap.com/">Pattern Tap</a></li>
<li><a href="http://foundation.zurb.com/">Foundation</a></li>
 
</ul>
<div id="mobile-hr"></div>
<ul id="mobile-stack">
<li class="logo"><a ng-href="http://zurb.com" target="_self"><img alt="Zurb logo" src="http://s1.library.zurb.com/assets/zurb-logo-bc9d6d62b90e93132023f7c25925f67a.png"/></a><li>
<li class="title stack"><a href="http://zurb.com/about" target="_self">About</a></li>
<li class="title stack"><a href="http://zurb.com/blog" target="_self">Blog</a></li>
<li class="title stack"><a href="http://zurb.com/contact" target="_self">Contact</a></li>
<li><a href="http://zurb.com/studios" target="_self"><h1>Studios</h1><p>Helping startups win since '98.</p></a></li>
<li><a href="http://foundation.zurb.com/"><h1>Foundation</h1><p>World's most advanced responsive framework.</p></a></li>
<li><a href="http://zurb.com/notable" target="_self"><h1>Notable</h1><p>Tools to radpidly prototype and iterate.</p></a></li>
<li><a href="http://zurb.com/university" target="_self"><h1>University</h1><p>Online training for smarter product design.</p></a></li>
</ul>
</div>
<div class="grid-frame vertical">
<div class="main-nav grid-content shrink" style="padding: 0;">
<div class="hide-for-small-only">
<div class="menu-group dark">
<div class="menu-group-left">
<ul class="menu-bar dark">
<li class="university-logo"><a ng-href="http://zurb.com/university" target="_self"><h1>ZURB</h1><h2>University</h2></a></li>
</ul>
</div>
<div class="menu-group-right">
<ul class="menu-bar dark">
<li><a href="http://zurb.com/university/training" target="_self">Training</a></li>
 
<li><a href="http://zurb.com/university/lessons" target="_self">Lessons</a></li>
<li class="active-library"><a ui-sref="library" ui-sref-opts="{ reload: true }">Library</a></li>
 
 
<li>
</li>
</ul>
</div>
</div>
</div>
<div class="show-for-small-only">
<ul class="menu-bar dark">
<li class="mobile university-logo"><a zf-toggle="off-canvas"><img alt="Offcanvas" src="http://s1.library.zurb.com/assets/offcanvas-d4a6ad9ee5c23963a35b6257c1916d2c.png"/><h1>ZURB</h1><h2>University</h2></a></li>
</ul>
</div>
</div>
<div class="grid-block main-body">
<div class="left-sidebar hide-for-small-only">
<ul class="property-nav">
<li class="library" ui-sref-active="current">
<a ui-sref="library" ui-sref-opts="{ reload: true }"><img alt="Library dark" src="http://s1.library.zurb.com/assets/library-dark-cc5c528b3af3a2dc6eb9cca718c5e219.png"/>LIBRARY</a>
</li>
<li class="patterntap" ui-sref-active="current">
<a ui-sref="patterntap" ui-sref-opts="{ reload: true }"><img alt="Patterntap dark" src="http://s1.library.zurb.com/assets/patterntap-dark-b33db1297deaec97d6c65c2c8ac4e0ed.png"/>PATTERN TAP</a>
</li>
<li class="buildingblocks" ui-sref-active="current">
<a ui-sref="building-blocks" ui-sref-opts="{ reload: true }"><img alt="Buildingblocks dark" src="http://s1.library.zurb.com/assets/buildingblocks-dark-0e99b98fd42e2534aa2a317ad1fd8d56.png"/>BUILDING BLOCKS</a>
</li>
<li class="responsive" ui-sref-active="current">
<a ui-sref="responsive" ui-sref-opts="{ reload: true }"><img alt="Responsive dark" src="http://s1.library.zurb.com/assets/responsive-dark-b88645064d2559dc2a1fe3b868a5acaa.png"/>RESPONSIVE</a>
</li>
<li class="triggers" ui-sref-active="current">
<a ui-sref="triggers" ui-sref-opts="{ reload: true }"><img alt="Trigger dark" src="http://s1.library.zurb.com/assets/trigger-dark-f5296c1beefb4fef4dfbd013ad920a36.png"/>TRIGGERS</a>
</li>
<li class="quips" ui-sref-active="current">
<a ui-sref="quips" ui-sref-opts="{ reload: true }"><img alt="Quips dark" src="http://s1.library.zurb.com/assets/quips-dark-25b8c5952eb6fcb1fd482ad4ea7357bb.png"/>QUIPS</a>
</li>
<li class="word" ui-sref-active="current">
<a ui-sref="words" ui-sref-opts="{ reload: true }"><img alt="Word dark" src="http://s1.library.zurb.com/assets/word-dark-4a8af46791ea109ad1037fef603c174e.png"/>WORD</a>
</li>
<li class="friday15" ui-sref-active="current">
<a ui-sref="friday15" ui-sref-opts="{ reload: true }"><img alt="Friday15 dark" src="http://s1.library.zurb.com/assets/friday15-dark-068d5ec73697075ecf417b6abaf9efca.png"/>FRIDAY15</a>
</li>
<div ng-show="client_ip == '75.144.253.52'">
</div>
</ul>
</div>
<div class="grid-block">
<div class="main-view-container" ui-view style="width: 100%" autoscroll="true"></div>
</div>
</div>
</div>
 
<zf-modal class="small" id="notable-signup-modal" overlay="false" overlay-close="true">
<a zf-close class="close-button">&times;</a>
<div ng-hide="signupSuccess" class="grid-block vertical">
<div class="shrink grid-content modal-contain">
<h4>Create Notable Account</h4>
<form name="notableForm" ng-submit="createUser(newUser)" novalidate>
<div class="signup-errors">
<ul ng-repeat="error in signupErrors">
<li>{{error}}</li>
</ul>
</div>
<p>
<label>Name</label>
<input name="name" ng-model="newUser.name" type="text" required />
</p>
<p>
<label>Email Address</label>
<input name="email" ng-model="newUser.email" type="email" required />
</p>
 
<p>
<label>Password</label>
<input name="password" ng-model="newUser.password" type="password" required />
</p>
<p>
<label>Confirm Password<span ng-show="notableForm.passwordConfirm.$error.match && notableForm.passwordConfirm.$dirty"> - passwords must match</span></label>
<input name="passwordConfirm" ng-model="newUser.passwordConfirmation" type="password" required match="notableForm.password"/>
</p>
 
<div class="grid-block">
<div class="medium-4 grid-content">
<button ng-disabled="notableForm.$invalid" class="button-style button" type="submit">Sign Up</button>
</div>
<div class="medium-8 grid-content">
<a ng-href="http://notable.zurb.com/signin?source_url={{location.absUrl()}}" class="button-style gray button">Log In</a>
<p>Already have an account?</p>
</div>
</div>
</form>
</div>
</div>
 
<div ng-show="signupSuccess" class="grid-block vertical">
<div class="shrink grid-content modal-contain">
<h3>Welcome to Notable!</h3>
<p>Your Notable account has been successfully created. You can now do all the things!</p>
<div class="grid-block">
<div class="medium-6 grid-content">
<a href="http://notable.zurb.com/dashboard" class="button-style button" type="submit">Go to Notable Dashboard</a>
</div>
<div class="medium-6 grid-content">
<a zf-close class="button-style gray button">Continue to Library</a>
</div>
</div>
</div>
</div>
</zf-modal>
</body>
</html>
